@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Regular.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Kanit';
  src: url('fonts/Kanit-Bold.ttf') format('truetype');
  font-weight: 700;
}