body {
  font-family: Kanit;
}

.ingrediente-faltante {
  color: red;
}

#ingrediente-secreto {
  color: blue;
  font-weight: bold;
}

p {
  color: brown;
  font-size: 35px;
}

h1 {
  text-align: center;
}