@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root {
    --main-color: rgb(232, 133, 47);
    --main-color-light: color-mix(in oklab, var(--main-color) 80%, white);
    --main-color-dark: color-mix(in oklab, var(--main-color) 80%, black);
}

body {
    font-family: Kanit;
    background: rgb(255, 255, 255);
    margin: 0;
    padding: 30px;
}

.tarjeta {
    background: rgb(80, 32, 92);
    text-align: center;
    width: 30vw;
    margin: 10px;
    box-sizing: border-box;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding: 30px 10px;
    color: white;
    border-radius: 8px;
    display: inline-block;
}

.tarjeta:hover {
    outline: 5px solid magenta;
}

.tarjeta-roja {
    background: rgb(137, 29, 31);
}

.tarjeta-amarilla {
    background: rgb(187, 166, 25);
}

.titulo-tarjeta {
    margin: 0;
}

.subtitulo-tarjeta {
    font-style: italic;
    font-weight: 100;
    margin: 0;
    margin-top: 3px;
}

.parrafo-tarjeta {
    text-align: justify;
    padding: 20px;
    margin-bottom: 0;
}

.foto-tarjeta {
    width: 25%;
    border-radius: 10px;
    border: 2px solid white;
}

.formulario {
    background: rgb(196, 196, 196);
    width: 50vw;
    padding: 20px;
    margin: auto;
    font-family: Ubuntu;
    border: 8px outset black;
}

.formulario > h2 {
    margin: 0;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: rgb(97, 97, 97);
}
  
.input-formulario {
    font-size: 15px;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 7px 0;
    border: 0 solid black;
    background: white;
    border-radius: 3px;
    color: rgb(85, 85, 85);
}

.label-formulario {
    font-size: 20px;
    font-weight: 900;
    color: rgb(97, 97, 97);
}

.texto-formulario {
    font-family: Ubuntu;
    resize: none;
}

fieldset {
    margin: 20px 0;
    border: 1px solid black;
    border-radius: 5px;
}

legend {
    margin: auto;
}

.faq {
    padding: 30px;
    background: var(--main-color);
    margin: 30px 0;
    box-shadow: 0 0 10px black;
}

.faq > h2 {
    margin: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

.faq summary {
    font-size: 18px;
}

.faq summary:hover {
    font-weight: bold;
    cursor: pointer;
}

.faq details p {
    margin: 8px 0;
    background-color: var(--main-color-light);
    padding: 10px;
}

.caja {
    background-color: aquamarine;
    height: 150px;
    width: 150px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
}

.caja--roja {
    left: 0;
    top: 0;
    background-color: red;
    transition-property: left, top;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.caja--roja:hover {
    top: 40px;
    left: 50px;
}

.caja--azul {
    background-color: rgb(142, 210, 255);
    font-size: 27px;
    padding: 10px;
}

.caja--verde {
    background-color: rgb(0, 128, 0);
    position: absolute;
    left: 500px;
    top: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    transition-property: background-color, color;
    transition-duration: 1s;
    transition-delay: 0.1s;
    color: white;
}

.caja--verde:hover {
    background-color: rgb(0, 228, 0);
    color: black;
}

.contenedor-seccion {
    position: relative;
    border: 5px solid black;
    margin: 30px 0;
}

.contenedor {
    position: relative;
}

.caja-flexible {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.item-flexible {
    background-color: var(--main-color);
    text-align: center;
    font-size: 40px;
    color: white;
    width: 80px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 3fr;
    gap: 10px;
    padding: 10px;
    justify-items: normal;
}

.grid-item {
    background-color: var(--main-color);
    padding: 10px;
    font-size: 50px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:first-child {
    background-color: brown;
}

.grid-item:last-child {
    background-color: black;
}

.otro-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr auto;
    grid-auto-flow: dense;
    margin: auto;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
    grid-template-areas:
    "header header header"
    "nav main aside"
    "footer footer footer";
}

.otro-grid header, .otro-grid nav, .otro-grid main, .otro-grid aside, .otro-grid footer {
    padding: 20px;
    border: 2px solid black;
}

.otro-grid header {
    grid-area: header;
    background-color: var(--main-color);
    color: #fff;
    border-color: var(--main-color);
}

.otro-grid nav {
    grid-area: nav;
}

.otro-grid main {
    grid-area: main;
}

.otro-grid aside {
    grid-area: aside;
}

.otro-grid footer {
    grid-area: footer;
    background-color: #000;
    color: #fff;
}

.botoncito-subir {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding: 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("imagenes/up_arrow.svg") #000000 no-repeat center;
    cursor: pointer;
}

.bento-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

.bento-item {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border-radius: 15px;
}

.bento-item:first-child {
    background-color: var(--main-color-dark);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.bento-item:last-child {
    background-color: var(--main-color-light);
    grid-column: 4 / 5;
    grid-row: 3 / 6;
}

.contenedor-animaciones {
    display: flex;
    flex-flow: column;
    height: 400px;
    justify-content: space-evenly;
    align-items: center;
}

.pulser {
    background-color: var(--main-color);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: relative;
}

.pulser::after {
    content: '';
    background-color: var(--main-color-light);
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation-name: pulse;
    animation-duration: 2s;
    animation-delay: .5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    50% {
        scale: 1.3;
        opacity: .4;
    }

    100% {
        opacity: .6;
    }
}

.contenedor-animaciones img {
    height: 100px;
    width: 100px;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: steps(15);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.contenedor-animaciones img:hover {
    animation-play-state: paused;
    opacity: .7;
    filter: contrast(150%);
    cursor: progress;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(200px);
    }
}

.contenedor-font-sizes {
    gap: 15px;
    padding: 10px;
    font-size: 0.75rem;

    & p {
        display: block;
        font-family: "Play", sans-serif;
    }
}

.parrafo-rem {
    font-size: 2rem;
}

.parrafo-em {
    font-size: 2em;
}